.header-logo {
    text-decoration: none;
}

header {
    background: $backColorTwo;
    padding: 50px;
}

header h1 {
    border: 15px solid rgb(13, 175, 13);
}

header+p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.colorHeader {
    background-color: $backColor;
}

